:host {
  display: block;
}

a {
  cursor: pointer;
  display: block;
  padding: var(--sen-spacer, 8px);
  color: var(--sen-menu-item-color, #fff);
  background: var(--sen-menu-item-bg, #494444);
  margin-bottom: 1px;
}
a:hover {
  background: var(--sen-menu-item-hover-bg, #6C6A6A);
}
a.active {
  color: var(--sen-menu-item-active-color, #DEDCDC);
}