:host {
  /**
  * @prop --card-border-color: The outer border color - default `#DEDCDC`
  */
  --card-border-color: #DEDCDC;
  /**
  * @prop --card-border-radius: The border radius - default `0`
  */
  --card-border-radius: 0;
  /**
  * @prop --card-padding: The inner padding - default `8px`
  */
  --card-padding: 8px;
  /**
  * @prop --card-margin: The outer margin - default `8px`
  */
  --card-margin: 8px;
}
:host article {
  display: flex;
  flex-wrap: wrap;
  padding: var(--card-padding);
  margin: var(--card-margin);
  border: 1px solid var(--card-border-color);
  border-radius: var(--card-border-radius);
}