:host,
:host footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 0 0 100%;
}
@media (min-width: 768px) {
  :host,
:host footer {
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
}

::slotted(sen-button) {
  display: block;
  flex: 0 0 100%;
  margin: 4px;
}
@media (min-width: 768px) {
  ::slotted(sen-button) {
    flex: 0 0 auto;
  }
}